body{
  background-color: rgb(48, 43, 43);
  color: white;
}

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (min-width: 992px) {
  html, body{
    overflow: hidden;
  }
}

