<div class="overlay">
</div>
<div class="absolute">
  <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <div class="cardLogin row border border-2 rounded ps-3 pe-3 pt-2 pb-4">
      <div class="d-flex justify-content-center">
        <h2 class="mt-2">Log In</h2>
      </div>
      <form [formGroup]="group" (ngSubmit)="loginWhitEmail(group.value)">
        <!-- Email -->
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control mb-3"
          placeholder="write your email please"
          formControlName="email">
        <!-- Error en el "email" -->
            <div
              *ngIf="Email?.invalid && (Email?.dirty || Email?.touched)"
              class="alert-danger mt-3"
              style="border-radius: 3px; padding: 5px"
            >
              <div class="container-error-message">
                Invalid email
              </div>
            </div>
        <!-- Contraseña -->
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-control mb-3"
          placeholder="Enter your password"
          formControlName="password">
          <!-- Error en la contraseña -->
            <div
            class="alert-danger mt-3 mb-3"
            style="border-radius: 3px; padding: 5px"
            *ngIf="Password?.invalid && (Password?.dirty || Password?.touched)"
            >
              <div class="container-error-message">
                Invalid password
              </div>
            </div>
        <!-- Enviar -->
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary mb-2 btn-lg btn-block" [disabled]="group.invalid">Send</button>
        </div>
        <!-- Error con los datos ingresados al tratar de iniciar sesión -->
          <div
            #errorMessage
            class="alert-danger mt-3"
            style="border-radius: 3px; padding: 5px; display: none"
          >
            <div class="container-error-message">
              <i class="fas fa-times-circle ps-1 pe-2"></i>{{messageErrorText}}
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
<!-- background video -->
<video [muted]="sonido" autoplay loop>
  <source src="../../../../assets/endgame.mp4">
</video>
<!-- Sound -->
<div class="btn-sonido-container">
  <button type="button" class="btn btn-sonido" (click)="sonidoVideo()" *ngIf="!sonido"><i class="fas fa-volume-up"></i></button>
  <button type="button" class="btn btn-sonido" (click)="sonidoVideo()" *ngIf="sonido"><i class="fas fa-volume-mute"></i></button>
</div>
